* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.slider {
  width: 1024px;
  height: 512px;
  position: relative;
  background-color: lightgray;
}
.slider__before {
  width: 512px;
  height: 512px;
  position: absolute;
  background: no-repeat center center fixed;
  background-size: cover;
  z-index: 2;
}
.slider__after {
  width: 1024px;
  height: 512px;
  position: absolute;
  background: no-repeat center center fixed;
  background-size: cover;
}
.slider__resize {
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: wheat;
  cursor: e-resize;
}
.slider__resize:before {
  content: "<";
  position: absolute;
  font-size: 30px;
  font-weight: 900;
  top: 50%;
  right: 5px;
  color: wheat;
}
.slider__resize:after {
  content: ">";
  position: absolute;
  font-size: 30px;
  font-weight: 900;
  top: 50%;
  left: 5px;
  color: wheat;
}/*# sourceMappingURL=slider.css.map */